body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;

}


body {
  background: url("header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#textt {
  color: white;
}

.btn-xl{
  padding: 15px 15px;
}
.btn-outline-primary {
  /*background-color:#FC4505 ;*/
  border-color: #fa2f09;
  color:white;
}
.btn-outline-primary:hover {
  background-color:#FC4505 ;
  border-width: 4px;
  border-color: #fa2f09;

}
h1:hover{
  font-size: 400%;
}

.btn {
  text-transform: uppercase;
  border-radius: 300px;
}

hr {
  background-color: #fa2f09;
  width:50px
}

.text-center{
  position: relative;
  top:220px;
}
#bb {
  position: relative;
  top:400px;
}

